page-weather {

}

.temp, .location, .icon, .desc {
    text-align: center;
}

.temp {
    font-size: 9vh;
    font-weight: normal;
}

.icon img {
    width: 100px;
}

.location {
    font-size: 5vh;
}

.list-text {
    font-size: 2vh;
}
